#boxes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  padding-top: 16px;
}
button[data-create] {
    border: none;
    border-radius: 8px;
        padding: 8px 16px;
        width: 120px;
        height: 40px;
        background: #4e75ff;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
}
button[data-destroy] {
border: none;
border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background: #ff4e4e;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;

}
input[type="number"] {
    border: 1px solid #808080;
        border-radius: 8px;
        padding: 8px 25px;
        width: 150px;
        height: 40px;
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #2e2f42;
}